DB_URL=mongodb+srv://contacttuandang:orqBlxpjyKYuI894@cluster0.oakmyex.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

SALT_ROUNDS=10

JWT_ACCESS_TOKEN_SECRET=tuandangit2004

GOOGLE_CLIENT_ID=1029738709221-v3iosastkrropuffucte29hf2gdioc3r.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//04tvffkHobxZ-CgYIARAAGAQSNwF-L9IrTITLOatlTV4rbDJ1LASU1IUeTWjbFkIL7qsJYb5YV2_YZVjYCPebk3YtF18UJszaITY

APP_URL=http://localhost:8080
FE_APP_URL=http://localhost:4001
